<div class="pay">
    <div class="container">
      <h5>Add shipping Address </h5>
      <div class="method">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Country/Region</label>
              <select class="form-control">
                  <option>India</option>
                  <option>United states of America</option>
                  <option>Australia</option>
                  <option>Sri lanka</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Full Name</label>
              <input type="text" class="form-control" placeholder="full name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Mobile number</label>
              <input type="text" class="form-control" placeholder="10 digits mobile number">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Pin code</label>
              <input type="text" class="form-control" placeholder="6 digits postal code">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">flat, House No., Department</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Landmark</label>
                <input type="text" class="form-control" placeholder="famous nearby place">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">State</label>
                <select class="form-control">
                    <option>Madhya Pradesh/ Chattisgarh</option>
                    <option>Uttar Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                </select>
              </div>
           

          </form>
      </div>
      <button class="btn btn-success" routerLink="/success">Continue</button>
    </div>
    
 </div>