<style>
    @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
   .column{
            margin:3%;
   }
a{
    text-decoration: none;
    color: grey;
}
a:hover{
          color: white;
}

</style>


<div class="containerfluid bg-dark  text-light"><p>All Rights Reserved</p>
    <div class="row">
        <div class="column">
            <b>Get to know us</b><br>
            <a routerLink="">Contact us</a><br>
            <a routerLink="">Carreer</a><br>
            <a routerLink="">Customer Service</a><br>
        </div>
        <div class="column">
            <b>Connect with us</b><br>
            <a routerLink="">Facebook</a><br>
            <a routerLink="">Instagram</a><br>
            <a routerLink="">Twitter</a><br>
        </div>
        <div class="column">
            <b>Work with us</b><br>
            <a routerLink="">Advertise with us</a><br>
            <a routerLink="">Sell your products</a><br>
            <a routerLink="">Start your carreir</a><br>
        </div>
        <div class="column" style=" width:500px;">
            <p style="font-size: 30px;  font-family: 'Fugaz One', cursive;">Let's Shop</p>
            
            
        </div>
</div>
