<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p>Electronics</p>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="electronics">Mobile & Accessories</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">Laptop & Accessories</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">Tv & Home Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Cameras</a>
      </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Computer peripherals</a>
    </li>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-light">
  <h3 style="font-family: 'Times New Roman', Times, serif;">The Electronics Store</h3>
  <p>At Amazon India, you will be able to find a wide selection of electronics from top brands. Shop for <a href="">Mobile Phones</a>, <a href="">Tablets</a>, <a href="">Cameras</a>, <a href="">Televisions</a>, <a href="">Headphones</a>, <a href="">Speakers</a>, <a href="">Laptops</a>, <a href="">Computers & Accessories</a>, <a href="">Wearables</a>, <a href="">Office Products
     Data Storage</a>, <a href="">Gaming accessories</a>, <a href="">Musical Instruments</a> and much more at the best prices on Amazon.in.</p>
</div>
<div class="container-fluid bg-primary">
  <h4 style="font-family: 'Times New Roman', Times, serif; margin-left: 30%;" class="text-white">New & Upcoming launches in electronics</h4>
  <div class="row">
    <div class="column" style="margin-left: 3%;">
    <a href=""><img src="../assets/dell.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/shots.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/boat.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/drone.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/notebook.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/desktop.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/wifi.jpg"></a>
    </div>
  </div>


  <div class="row">
    <div class="column" style="margin-left: 3%;">
    <a href=""><img src="../assets/keyboard.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/tablets.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/storage.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/printers.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/cal.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/haedphone.jpg"></a>
    </div>
    <div class="column">
      <a href=""><img src="../assets/camera.jpg"></a>
    </div>
  </div>
</div>