<div class="row">
    <div class="column bg-light">
        <img src="../assets/limestone2.png"><br>
        <span><b>Limestone</b></span>
        <p>Montvitton Analogue Men's Watch</p>
        <p style="color: tomato; font-size: 25px; margin-left: 30%;">₹ 249</p>
        <div class="row">
            <div class="col">
                <p>Quantity</p>
            </div>
            <div class="col">
               <select>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
               </select>
            </div>
        </div>
        <button class="btn btn-primary">Buy now</button>
    </div>

    <div class="column bg-light">
        <img src="../assets/rolex.png" style="width: 60%;"><br>
        <span style="margin-left:15%"><b>Rolex</b></span>
        <p style="margin-left: 20%;">Fondation Hans Wilsdorf</p>
        <p style="color: tomato; font-size: 25px; margin-left: 30%;">₹ 599</p>
        <div class="row">
            <div class="col">
                <p>Quantity</p>
            </div>
            <div class="col">
               <select>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
               </select>
            </div>
        </div>
        <button class="btn btn-primary">Buy now</button>
    </div>

    <div class="column bg-light">
        <img src="../assets/golden rolex.png" style="width: 60%;"><br>
        <span style="margin-left:2%"><b>Golden Rolex</b></span>
        <p style="margin-left: 20%;">Fondation Hans Wilsdorf</p>
        <p style="color: tomato; font-size: 25px; margin-left: 30%;">₹ 1089</p>
        <div class="row">
            <div class="col">
                <p>Quantity</p>
            </div>
            <div class="col">
               <select>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
               </select>
            </div>
        </div>
        <button class="btn btn-primary" routerLink="/payment">Buy now</button>
    </div>
</div>