<div class="container-fluid bg-light">
    <h5><b>Today's Deals</b></h5>
    <p>Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great offers. <a href="register">Sign up</a> for deal notifications</p>
</div>
<div class="containerfluid bg-light p-3">
    <h6><b>Deal of the Day</b></h6>
     <nav class="nav">
        <a class="nav-link active" href="#">All available</a>
      </nav>
      <div class="row">
      <div class="card p-2" style="width: 18rem;">
        <img src="../assets/oneplus.jfif" width="200px" height="300px" style="margin-left: 30%;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title bg-warning"><b>Deal of the day</b></h5>
          <p class="card-text text-primary">₹11,490 - ₹49,990</p>
          <p class="card-text"><b>One plus carnival days</b></p>
          <a href="#" class="btn btn-primary">Explore now</a>
        </div>
      </div>
      <div class="card p-2" style="width: 18rem; margin-left: 3%;">
        <img src="../assets/women.jpg" width="200px" height="300px" style="margin-left: 30%;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title bg-warning"><b>Deal of the day</b></h5>
          <p class="card-text text-primary">₹399 - ₹5,045</p>
          <p class="card-text"><b>upto 40% off on all brands</b></p>
          <a href="#" class="btn btn-primary">Explore now</a>
        </div>
      </div>
      <div class="card p-2" style="width: 18rem; margin-left: 3%;">
        <img src="../assets/mixer.jfif" width="200px" height="300px" style="margin-left: 30%;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title bg-warning"><b>Deal of the day</b></h5>
          <p class="card-text text-primary">₹75 - ₹6,669</p>
          <p class="card-text"><b>upto 60% off on all Kitchen appliances</b></p>
          <a href="#" class="btn btn-primary">Explore now</a>
        </div>
      </div>
      <div class="card p-2" style="width: 18rem; margin-left: 3%;">
        <img src="../assets/watches2.jfif" width="50px" height="800px" style="margin-left: 30%;" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title bg-warning"><b>Deal of the day</b></h5>
          <p class="card-text text-primary">₹149 - ₹5,045</p>
          <p class="card-text"><b>upto 30% off on all brands</b></p>
          <a href="#" class="btn btn-primary">Explore now</a>
        </div>
      </div>
    </div>
</div>