<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <p>Best sellers</p>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="electronics">Hot New Releases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Most searched</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Most searched books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Most Gifted</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid bg-light">
    <h3 style="font-family: 'Times New Roman', Times, serif;">Our Best Sellers</h3>
    <p class="text-dark">Our most popular products based sales.</p>
  </div>
  <div class="container-fluid bg-primary">
    <h4 style="font-family: 'Times New Roman', Times, serif; margin-left: 40%;" class="text-white">Bestsellers Books</h4>
    <div class="row">
      <div class="column" style="margin-left: 3%;">
      <a href=""><img src="../assets/books.jpg"></a>
      <p>Eating in the age of dieting.</p>
      </div>
      <div class="column">
        <a href=""><img src="../assets/books2.jpg"></a>
        <p>who will cry when you die</p>
      </div>
      <div class="column">
        <a href=""><img src="../assets/book3.jpg"></a>
        <p>A Promised land</p>
      </div>
      
    </div>
  
    <h4 style="font-family: 'Times New Roman', Times, serif; margin-left: 40%;" class="text-white">Clothing & Acessories</h4>
    <div class="row">
        
      <div class="column" style="margin-left: 3%;">
      <a href=""><img src="../assets/hoody.jpg"></a>
      <p>Men's hoody</p>
      </div>
      <div class="column">
        <a href=""><img src="../assets/tshirts.jpg"></a>
        <p>Men's T-shirts</p>
      </div>
      <div class="column">
        <a href=""><img src="../assets/women.jpg"></a>
        <p>Fashionable dresses</p>
      </div>
      <div class="column">
        <a href=""><img src="../assets/women2.jpg"></a>
        <p>Branded dresses</p>
      </div>
    </div>
  </div>